
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-auto" style="padding: 20px;  margin: 20px;">
            <a class="btn btn-info" href="/AjaxBegin/Create"> Yeni Kullanıcı</a>
        </div>
    </div>
</div>